Repository gomster96/CSEE-SelfCheck, pull requests merged in 2022-03, with the labels that each got.

#10 [#2] 프론트엔드 환경설정
  FrontEnd/csee-selfchecker/.gitignore
  FrontEnd/csee-selfchecker/.prettierrc
  FrontEnd/csee-selfchecker/package-lock.json
  FrontEnd/csee-selfchecker/package.json
  FrontEnd/csee-selfchecker/public/favicon.ico
  FrontEnd/csee-selfchecker/public/index.html
  FrontEnd/csee-selfchecker/public/manifest.json
  FrontEnd/csee-selfchecker/src/App.js
  FrontEnd/csee-selfchecker/src/index.js
Labels: feature, frontend

#14 [#13] 프론트 프로젝트 구조 생성
  FrontEnd/csee-selfchecker/src/App.js
  FrontEnd/csee-selfchecker/src/asset/index.js
  FrontEnd/csee-selfchecker/src/components/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/index.js
  FrontEnd/csee-selfchecker/src/pages/Login/index.js
  FrontEnd/csee-selfchecker/src/pages/Main/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
  FrontEnd/csee-selfchecker/src/pages/index.js
  FrontEnd/csee-selfchecker/src/util/index.js
Labels: feature, frontend

#12 [#3] 백엔드 도메인 구조 생성
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/application/AdminService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/domain/Admin.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/domain/repository/AdminRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/AdminController.java
  BackEnd/src/main/java/com/example/cseeselfcheck/common/BaseEntity.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/UserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/User.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/lecture/Lecture.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/major/Major.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/repository/UserRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/presentation/UserController.java
Labels: feature, backend

#16 [#8] : 관리자 페이지 레이아웃 구현
  FrontEnd/csee-selfchecker/package-lock.json
  FrontEnd/csee-selfchecker/package.json
  FrontEnd/csee-selfchecker/src/pages/Admin/AdminTable/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/Footer/ExcelExport/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/Footer/ExcelImport/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/Footer/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/HeaderFIlter/Filters/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/HeaderFIlter/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/SearchBar/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/index.js
Labels: feature, frontend

#15 [#7] feat: 마이페이지 제작
  FrontEnd/csee-selfchecker/package-lock.json
  FrontEnd/csee-selfchecker/package.json
  FrontEnd/csee-selfchecker/src/App.js
  FrontEnd/csee-selfchecker/src/pages/Main/MypageResultTable.js
  FrontEnd/csee-selfchecker/src/pages/Main/MypageTable.js
  FrontEnd/csee-selfchecker/src/pages/Main/index.js
Labels: feature, frontend

#18 [#6] 회원가입 페이지 프론트엔드 구현
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
Labels: feature, frontend

#23 [#5] loginPage 구현
  FrontEnd/csee-selfchecker/package-lock.json
  FrontEnd/csee-selfchecker/package.json
  FrontEnd/csee-selfchecker/src/asset/fonts/RedHatDisplay-Black.ttf
  FrontEnd/csee-selfchecker/src/asset/fonts/RedHatDisplay-BlackItalic.ttf
  FrontEnd/csee-selfchecker/src/asset/fonts/RedHatDisplay-Bold.ttf
  FrontEnd/csee-selfchecker/src/asset/fonts/RedHatDisplay-BoldItalic.ttf
  FrontEnd/csee-selfchecker/src/asset/fonts/RedHatDisplay-ExtraBold.ttf
  FrontEnd/csee-selfchecker/src/asset/fonts/RedHatDisplay-ExtraBoldItalic.ttf
  FrontEnd/csee-selfchecker/src/asset/fonts/RedHatDisplay-Italic.ttf
  FrontEnd/csee-selfchecker/src/asset/fonts/RedHatDisplay-Light.ttf
  FrontEnd/csee-selfchecker/src/asset/fonts/RedHatDisplay-LightItalic.ttf
  FrontEnd/csee-selfchecker/src/asset/fonts/RedHatDisplay-Medium.ttf
  FrontEnd/csee-selfchecker/src/asset/fonts/RedHatDisplay-MediumItalic.ttf
  FrontEnd/csee-selfchecker/src/asset/fonts/RedHatDisplay-Regular.ttf
  FrontEnd/csee-selfchecker/src/asset/fonts/RedHatDisplay-SemiBold.ttf
  FrontEnd/csee-selfchecker/src/asset/fonts/RedHatDisplay-SemiBoldItalic.ttf
  FrontEnd/csee-selfchecker/src/asset/fonts/font.js
  FrontEnd/csee-selfchecker/src/asset/img/backgroundImg.png
  FrontEnd/csee-selfchecker/src/asset/img/loginImage.png
  FrontEnd/csee-selfchecker/src/pages/Login/index.js
Labels: feature, frontend

#24 [#21] 리액트 라우터 설정
  FrontEnd/csee-selfchecker/package-lock.json
  FrontEnd/csee-selfchecker/package.json
  FrontEnd/csee-selfchecker/src/App.js
  FrontEnd/csee-selfchecker/src/index.js
  FrontEnd/csee-selfchecker/src/pages/Login/index.js
  FrontEnd/csee-selfchecker/src/pages/Main/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
Labels: feature, frontend

#28 [#25] feat: 전체 페이지 css (레이아웃, 반응형) 수정
  FrontEnd/csee-selfchecker/src/pages/Admin/index.js
  FrontEnd/csee-selfchecker/src/pages/Login/index.js
  FrontEnd/csee-selfchecker/src/pages/Main/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
Labels: feature, frontend

#30 [#27] ReferenceUser 엑셀 임포트 기능 구현
  BackEnd/build.gradle
  BackEnd/src/main/java/com/example/cseeselfcheck/exception/CseeCheckerException.java
  BackEnd/src/main/java/com/example/cseeselfcheck/exception/ExceptionResponse.java
  BackEnd/src/main/java/com/example/cseeselfcheck/exception/GlobalExceptionHandler.java
  BackEnd/src/main/java/com/example/cseeselfcheck/exception/referenceuser/ReferenceUserDataFormatException.java
  BackEnd/src/main/java/com/example/cseeselfcheck/exception/referenceuser/ReferenceUserException.java
  BackEnd/src/main/java/com/example/cseeselfcheck/exception/referenceuser/ReferenceUserImportException.java
  BackEnd/src/main/java/com/example/cseeselfcheck/exception/referenceuser/ReferenceUserOpenFileException.java
  BackEnd/src/main/java/com/example/cseeselfcheck/major/domain/Major.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/ReferenceUserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/ReferenceUser.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/repository/ReferenceUserRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/presentation/UserController.java
Labels: feature, backend, api

#34 [#33] : Major excel 파일 import 기능 구현
  BackEnd/src/main/java/com/example/cseeselfcheck/exception/major/MajorDataFormatException.java
  BackEnd/src/main/java/com/example/cseeselfcheck/exception/major/MajorException.java
  BackEnd/src/main/java/com/example/cseeselfcheck/lecture/application/LectureService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/major/application/MajorService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/major/domain/Major.java
  BackEnd/src/main/java/com/example/cseeselfcheck/major/presentation/MajorController.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/ReferenceUserService.java
Labels: feature, backend, admin, api

#38 [#37] 관리자 회원가입 페이지, 전체 css 및 화면 규격 수정
  FrontEnd/csee-selfchecker/src/pages/Login/Googlebutton.js
  FrontEnd/csee-selfchecker/src/pages/Login/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/Admin/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
Labels: feature, frontend, api

#42 [#36] : Admin 페이지에서 학생정보 filter 해서 가지고오는 기능 API 구현
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/application/AdminService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/domain/repository/AdminRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/AdminController.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/dto/AdminUserRequestDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/exception/GlobalExceptionHandler.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/UserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/User.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/dto/UserDataDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/repository/UserRepository.java
  BackEnd/src/main/resources/application.yml
Labels: feature, backend, admin, api

#44 [#43] : 학번 이름에 따라 학생 검색해서 데이터 불러오는 기능 구현
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/AdminController.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/dto/AdminSearchRequestDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/UserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/dto/UserDataDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/repository/UserRepository.java
Labels: feature, backend, admin, api

#47 [#46] feat : 학생 데이터 단건조회 기능 API 개발
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/UserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/User.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/dto/UserIndividualDataDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/repository/UserRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/presentation/UserController.java
Labels: feature, backend, api

#49 [#48] fix : major 필드 User에서 ReferenceUser 로 이동
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/AdminController.java
  BackEnd/src/main/java/com/example/cseeselfcheck/exception/major/MajorNotExistException.java
  BackEnd/src/main/java/com/example/cseeselfcheck/major/domain/repository/MajorRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/ReferenceUserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/ReferenceUser.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/User.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/repository/UserRepository.java
Labels: backend, fix

#41 [#39] feat: login, main, selfcheck page - css 수정(반응형 등)
  FrontEnd/csee-selfchecker/src/App.js
  FrontEnd/csee-selfchecker/src/asset/img/csee-logo-symbol.png
  FrontEnd/csee-selfchecker/src/pages/Admin/AdminTable/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/Footer/ExcelExport/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/Footer/ExcelImport/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/Footer/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/HeaderFIlter/Filters/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/HeaderFIlter/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/SearchBar/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/index.js
  FrontEnd/csee-selfchecker/src/pages/Login/index.js
  FrontEnd/csee-selfchecker/src/pages/Main/MypageResultTable.js
  FrontEnd/csee-selfchecker/src/pages/Main/MypageTable.js
  FrontEnd/csee-selfchecker/src/pages/Main/index.js
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/SelfCheckResultTable.js
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/SelfCheckTable.js
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/index.js
Labels: feature, frontend

#51 구글 로그인 후 사용자 정보 입력받아 컨트롤러에 전달 구현
  FrontEnd/csee-selfchecker/src/pages/Login/Googlebutton.js
  FrontEnd/csee-selfchecker/src/pages/Login/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/Admin/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
Labels: feature, frontend, api

#52 [#45] feat: Lecture data 조회 api 구현
  BackEnd/src/main/java/com/example/cseeselfcheck/lecture/application/LectureService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/lecture/domain/repository/LectureDataDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/lecture/domain/repository/LectureRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/lecture/presentation/LectureController.java
  BackEnd/src/main/java/com/example/cseeselfcheck/major/presentation/MajorController.java
  BackEnd/src/main/resources/application.yml
Labels: feature, backend, api

#60 [#50] feat : 관리자페이지 데이터 불러오는 API checker 기능 추가
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/AdminController.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/dto/AdminUserResponseDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/UserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/dto/UserDataDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/repository/UserRepository.java
  BackEnd/src/main/resources/application.yml
Labels: feature, backend, admin, api

#64 [#61] 프론트 관리자 연동
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/AdminController.java
  BackEnd/src/main/java/com/example/cseeselfcheck/lecture/application/LectureService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/lecture/presentation/dto/LectureResponseDto.java
  BackEnd/src/main/resources/application.yml
  FrontEnd/csee-selfchecker/.gitignore
  FrontEnd/csee-selfchecker/package-lock.json
  FrontEnd/csee-selfchecker/package.json
  FrontEnd/csee-selfchecker/src/pages/Admin/AdminTable/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/ExportButton/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/HeaderFIlter/Filters/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/ImportButton/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/SearchBar/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/index.js
  FrontEnd/csee-selfchecker/src/pages/Main/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/Admin/index.js
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/index.js
  FrontEnd/csee-selfchecker/src/util/service.js
Labels: feature, admin, api

#67 로그인, 회원가입 페이지 css 및 데이터 전달 fix
  FrontEnd/csee-selfchecker/src/App.js
  FrontEnd/csee-selfchecker/src/pages/Login/Googlebutton.js
  FrontEnd/csee-selfchecker/src/pages/Login/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/Admin/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
Labels: feature, frontend, fix

#68 회원가입 페이지 반응형, 헤더 적용
  FrontEnd/csee-selfchecker/src/pages/Login/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/Admin/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
Labels: frontend, fix

#70 hotfix : 미팅전 출력오류 해결
  FrontEnd/csee-selfchecker/src/pages/Admin/AdminTable/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/HeaderFIlter/Filters/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/Admin/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
Labels: frontend, fix
