Repository gomster96/CSEE-SelfCheck, pull requests merged in 2022-04, with the labels that each got.

#72 구글 api DB연결 관련 백엔드 코드 구현
  BackEnd/.gitignore
  BackEnd/build.gradle
  BackEnd/src/main/java/com/example/cseeselfcheck/user/config/CustomOAuth2UserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/config/SecurityConfig.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/config/dto/OAuthAttributes.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/config/dto/SessionUser.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/googlelogin/dto/UserDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/googlelogin/entity/UserEntity.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/googlelogin/repository/UserGoogleRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/googlelogin/service/UserGoogleService.java
  BackEnd/src/main/resources/application.yml
  BackEnd/src/main/resources/templates/application.properties
Labels: backend, admin

#73 [#71] : selfCheckPage를 구성하는 데이터들을 가지고오는 API 구현
  BackEnd/src/main/java/com/example/cseeselfcheck/lecture/application/dto/LectureDataDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/lecture/domain/Lecture.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/UserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/dto/UserFullDataResponseDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/dto/UserIndividualDataDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/repository/UserRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/presentation/UserController.java
Labels: feature, backend, api

#74 로그인 api DB 이메일 매칭 코드 수정
  BackEnd/src/main/java/com/example/cseeselfcheck/user/config/CustomOAuth2UserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/config/SecurityConfig.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/config/dto/OAuthAttributes.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/config/dto/SessionUser.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/googlelogin/entity/Role.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/googlelogin/entity/UserEntity.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/googlelogin/repository/UserGoogleRepository.java
  BackEnd/src/main/resources/application.yml
Labels: backend, fix, api

#80 로그인 api 관련 오류 코드 수정
  BackEnd/build.gradle
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/UserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/config/CustomOAuth2UserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/config/SecurityConfig.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/config/dto/OAuthAttributes.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/config/dto/SessionUser.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/User.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/dto/UserDataDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/repository/UserRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/googlelogin/dto/UserDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/googlelogin/entity/Role.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/googlelogin/entity/UserEntity.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/googlelogin/repository/UserGoogleRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/googlelogin/service/UserGoogleService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/presentation/UserController.java
Labels: backend, fix, api

#86 로그인 api 백엔드 코드 추가 구현
  BackEnd/build.gradle
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/UserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/repository/UserRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/presentation/UserController.java
  BackEnd/src/main/resources/application.yml
Labels: feature, backend, api

#88 login 데이터 DB로 전달해 체크 후 페이지 이동 구현
  FrontEnd/csee-selfchecker/package-lock.json
  FrontEnd/csee-selfchecker/package.json
  FrontEnd/csee-selfchecker/src/ApiService.js
  FrontEnd/csee-selfchecker/src/pages/Login/Googlebutton.js
Labels: feature, frontend, api

#89 로그인 api 관련 프론트엔드 코드 수정
  FrontEnd/csee-selfchecker/src/pages/Login/Googlebutton.js
  FrontEnd/csee-selfchecker/src/util/service.js
Labels: feature, frontend, api

#90 [#65] feat: main, selfcheck css 수정
  FrontEnd/csee-selfchecker/src/pages/Main/index.js
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/index.js
Labels: frontend, refactor

#92 Feat/#91
  FrontEnd/csee-selfchecker/src/pages/Main/components/Table.js
  FrontEnd/csee-selfchecker/src/pages/Main/components/TableCell.js
  FrontEnd/csee-selfchecker/src/pages/Main/components/TableRow.js
  FrontEnd/csee-selfchecker/src/pages/Main/components/Table_styled.js
  FrontEnd/csee-selfchecker/src/pages/Main/index.js
  FrontEnd/csee-selfchecker/src/pages/Main/main.styled.js
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/components/Table.js
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/components/TableCell.js
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/components/TableRow.js
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/components/Table_styled.js
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/index.js
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/main.styled.js
Labels: feature, frontend

#96 [#75] 관리자 페이지 데이터 필터기능 API 및 프론트페이지 관련기능 구현
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/AdminController.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/dto/AdminUserRequestDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/UserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/repository/UserRepository.java
  FrontEnd/csee-selfchecker/src/pages/Admin/AdminTable/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/SearchBar/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/index.js
Labels: frontend, backend, admin, api

#98 [#76] : Admin 조회, 승인 API 구현
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/application/AdminService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/application/dto/AdminResponseDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/domain/Admin.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/domain/repository/AdminRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/AdminController.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/dto/AdminAcceptRequestDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/UserService.java
Labels: feature, backend, admin, api

#99 hotfix : userController url 수정
  BackEnd/src/main/java/com/example/cseeselfcheck/user/presentation/UserController.java
Labels: fix

#101 로그인, 회원가입 페이지 frontend fetch 구현
  FrontEnd/csee-selfchecker/src/pages/Login/Googlebutton.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
  FrontEnd/csee-selfchecker/src/util/service.js
Labels: feature, frontend, api

#102 로그인, 회원가입 페이지 backend fetch 소스 구현
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/dto/UserRequestDto.java
Labels: feature, backend, api

#108 [#107] admin css
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/application/AdminService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/AdminController.java
  BackEnd/src/main/resources/application.yml
  FrontEnd/csee-selfchecker/src/pages/Admin/HeaderFIlter/Filters/index.js
Labels: feature, frontend

#115 [#113] feat: SelfCheck Data Fetch (state사용X) 구현
  FrontEnd/csee-selfchecker/src/pages/Common/Header/header.jsx
  FrontEnd/csee-selfchecker/src/pages/Main/Button/EditButton.jsx
  FrontEnd/csee-selfchecker/src/pages/Main/Table/ResultTable.jsx
  FrontEnd/csee-selfchecker/src/pages/Main/Table/UserTable.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Button/SaveButton.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Table/SelfCheckTable.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Table/SelfCheckUserTable.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/index.jsx
Labels: feature, frontend, backend, api

#119 유저 데이터 매칭 및 회원가입 구현(백엔드)
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/UserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/dto/UserResponseDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/User.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/dto/UserCheckDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/dto/UserRequestDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/repository/ReferenceUserRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/repository/UserRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/presentation/UserController.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/presentation/dto/UserCheckRequestDto.java
Labels: feature, frontend, admin

#120 유저 데이터 매칭 및 회원가입 구현(프론트)
  FrontEnd/csee-selfchecker/src/pages/Login/Googlebutton.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
Labels: feature, frontend, api

#123 관리자 회원조회 및 가입 구현(프론트)
  FrontEnd/csee-selfchecker/src/pages/Login/Googlebutton.js
  FrontEnd/csee-selfchecker/src/pages/Register/Admin/index.js
  FrontEnd/csee-selfchecker/src/util/service.js
Labels: feature, frontend, admin, api

#124 관리자 유저 조회 및 회원가입 구현(백엔드)
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/application/AdminService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/application/dto/AdminInsertResponseDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/domain/Admin.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/domain/dto/AdminInsertDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/domain/repository/AdminRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/AdminController.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/dto/AdminInsertRequestDto.java
Labels: feature, backend, admin, api

#130 [#129] 유저 이메일 따옴표 에러 fix
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/AdminController.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/User.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/presentation/UserController.java
Labels: backend, fix, admin, api

#132 이메일 따옴표 에러 fix(프론트)
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
Labels: frontend, fix, admin, api

#136 관리자 isActive 체크 및 제어(백앤드)
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/application/AdminService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/domain/repository/AdminRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/AdminController.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/presentation/UserController.java
Labels: feature, backend, admin, api

#137 관리자 IsActive 확인 및 페이지 이동/제어 구현(프론트)
  FrontEnd/csee-selfchecker/src/pages/Login/Googlebutton.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
  FrontEnd/csee-selfchecker/src/util/service.js
Labels: feature, frontend, admin, api

#139 Feat/#116
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Button/ResetButton.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Button/SaveButton.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Table/SelfCheckTable.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/index.jsx
  FrontEnd/csee-selfchecker/src/util/service.js
Labels: frontend, backend, fix, api

#141 Feat/#140 셀프체크 저장하기 구현완료
  FrontEnd/csee-selfchecker/src/pages/Main/Table/ResultTable.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Button/ResetButton.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Button/SaveButton.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Table/SelfCheckTable.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/index.jsx
Labels: feature, frontend, backend, api

#144 로그인 유지 및 로그아웃 구현
  FrontEnd/csee-selfchecker/src/pages/Common/Header/header.jsx
  FrontEnd/csee-selfchecker/src/pages/Login/Googlebutton.js
  FrontEnd/csee-selfchecker/src/pages/Register/Admin/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
Labels: feature, frontend

#145 [#142] feat: SelfCheck userId 받아오기 및 페이지 이동 구현
  FrontEnd/csee-selfchecker/src/App.js
  FrontEnd/csee-selfchecker/src/pages/Common/Header/header.jsx
  FrontEnd/csee-selfchecker/src/pages/Common/common.js
  FrontEnd/csee-selfchecker/src/pages/Main/Button/EditButton.jsx
  FrontEnd/csee-selfchecker/src/pages/Main/Table/ResultTable.jsx
  FrontEnd/csee-selfchecker/src/pages/Main/index.jsx
  FrontEnd/csee-selfchecker/src/pages/Main/main.styled.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Button/SaveButton.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Table/SelfCheckTable.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Table/SelfCheckUserTable.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/index.jsx
Labels: feature, frontend

#147 [#138] : Admin 페이지 레이아웃 수정 및 관련 기능 수정
  BackEnd/build.gradle
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/dto/AdminUserResponseDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/exception/ExceptionResponse.java
  BackEnd/src/main/java/com/example/cseeselfcheck/exception/GlobalExceptionHandler.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/dto/UserDataDto.java
  BackEnd/src/main/resources/application.yml
  FrontEnd/csee-selfchecker/src/pages/Admin/AdminTable/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/HeaderFIlter/Filters/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/ImportButton/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/SearchBar/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/index.js
  FrontEnd/csee-selfchecker/src/pages/Common/Loading/index.js
  FrontEnd/csee-selfchecker/src/util/service.js
Labels: feature, frontend, admin

#150 Feat/#146 셀프체크 이수학기 미체크 시 저장하기 block 및 마이페이지 이수여부 수정
  FrontEnd/csee-selfchecker/src/pages/Common/Header/header.jsx
  FrontEnd/csee-selfchecker/src/pages/Main/Table/ResultTable.jsx
  FrontEnd/csee-selfchecker/src/pages/Main/Table/UserTable.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Table/SelfCheckTable.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Table/SelfCheckUserTable.jsx
Labels: feature, frontend, fix

#152 [#151] fix: 마이페이지 병수예정 출력관련 오류해결
  FrontEnd/csee-selfchecker/src/pages/Main/Table/ResultTable.jsx
Labels: frontend, fix

#156 login, register page console.log 제거
  FrontEnd/csee-selfchecker/src/pages/Common/Header/header.jsx
  FrontEnd/csee-selfchecker/src/pages/Login/Googlebutton.js
  FrontEnd/csee-selfchecker/src/pages/Login/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/Admin/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
Labels: frontend, fix

#162 [#158] fix: 셀프체크 체크박스 에러 해결
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Table/SelfCheckTable.jsx
Labels: frontend, fix
