Repository gomster96/CSEE-SelfCheck, pull requests merged in 2022-05, with the labels that each got.

#165 login, register page css 수정
  FrontEnd/csee-selfchecker/src/pages/Login/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/Admin/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
Labels: frontend, fix

#169 Feat/#168 메인, 셀프체크 페이지 CSS 수정
  FrontEnd/csee-selfchecker/src/pages/Main/main.styled.js
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/main.styled.js
Labels: frontend

#171 Fe/feat/#170 라디오 diabled 및 관리자 안내문 변경완료
  FrontEnd/csee-selfchecker/src/pages/Main/Table/ResultTable.jsx
  FrontEnd/csee-selfchecker/src/pages/Main/Table/UserTable.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Table/SelfCheckTable.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Table/SelfCheckUserTable.jsx
Labels: feature, frontend

#172 [#77, #166] : excel export 기능 구현, Admin 페이지 일부 내용 수정
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/AdminController.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/presentation/dto/AdminUserRequestDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/UserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/dto/UserDataDto.java
  FrontEnd/csee-selfchecker/src/pages/Admin/ExportButton/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/HeaderFIlter/Filters/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/SearchBar/index.js
  FrontEnd/csee-selfchecker/src/pages/Admin/index.js
  FrontEnd/csee-selfchecker/src/util/service.js
Labels: feature, backend, admin, api

#175 FE/feat/#174 Fetch코드 수정 및 event handler수정
  FrontEnd/csee-selfchecker/src/pages/Main/Table/ResultTable.jsx
  FrontEnd/csee-selfchecker/src/pages/Main/Table/UserTable.jsx
  FrontEnd/csee-selfchecker/src/pages/Main/index.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Table/SelfCheckTable.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/Table/SelfCheckUserTable.jsx
  FrontEnd/csee-selfchecker/src/pages/SelfCheck/index.jsx
Labels: frontend, refactor

#177 FE/feat/#176 Admin 조회버튼 CSS 수정
  FrontEnd/csee-selfchecker/src/pages/Admin/SearchBar/index.js
Labels: frontend

#178 Header, Login, Register 디자인 수정
  FrontEnd/csee-selfchecker/src/pages/Common/Header/header.jsx
  FrontEnd/csee-selfchecker/src/pages/Login/Googlebutton.js
  FrontEnd/csee-selfchecker/src/pages/Login/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/Admin/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
Labels: frontend, fix

#180 header button css 수정
  FrontEnd/csee-selfchecker/src/pages/Common/Header/header.jsx
  FrontEnd/csee-selfchecker/src/pages/Login/index.js
Labels: frontend, fix

#181 [#173] : 배포 및 오류있던 기능 수정
  BackEnd/build.gradle
  BackEnd/src/main/java/com/example/cseeselfcheck/CseeSelfCheckApplication.java
  BackEnd/src/main/java/com/example/cseeselfcheck/TestController.java
  BackEnd/src/main/java/com/example/cseeselfcheck/admin/application/AdminService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/exception/common/CommonException.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/UserService.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/application/dto/UserResponseDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/dto/UserCheckDto.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/domain/repository/ReferenceUserRepository.java
  BackEnd/src/main/java/com/example/cseeselfcheck/user/presentation/UserController.java
  BackEnd/src/main/resources/application.yml
  FrontEnd/csee-selfchecker/src/pages/Admin/AdminTable/index.js
  FrontEnd/csee-selfchecker/src/pages/Register/index.js
  FrontEnd/csee-selfchecker/src/util/service.js
Labels: frontend, backend, fix
